/*.fa-caret-down: "";*/
/*.fa-search: "";}*/
/*.fa-chevron-right: ""*/
/*.fa-keyboard-o: ""*/
/*.fa-language: : ""*/
/*.fa-line-chart: ""*/
/*.fa-briefcase: ""*/
/*.fa-gears: ""*/
/*.fa-users: ""*/
/*.fa-globe: ""*/
* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #eee;
    color: #000000;
    font-family: Open Sans;
}

.grid-container {
    background-color: #F1F5FF;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "picture"
        "search"
        "school"
        "headline"
        "courses"
        "browse"
        "footer";
    justify-content: center;
}

.header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header";
    height: 80px;
    box-shadow: 0 3px 3px rgba(49, 48, 48, 0.4);
    color: #007DB8;
    z-index: 2;
}

.flex-container {
    max-width: 100vw;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    flex-direction: row;
    flex: 3;
}

.flex-logo {
    display: flex;
    flex: 1;
    justify-content: end;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.flex-logo img {
    width: 77px;
    height: 38.9px;
}

.flex-menu {
    width: 1000px;
    display: flex;
    flex: auto;
    align-self: center;
    justify-content: space-between;
    font-size: 18px;
    color: #007DB8;
    font-weight: 600;
}
.menu-wrapper {
    display: grid;
    grid-template-columns: 95px 1fr 175px 170px 1fr;
    grid-template-rows: 80px;
    grid-template-areas: "menu menu menu menu space";
}

.menu-wrapper li {
    padding-right: 5px;
    padding-left: 5px;
    display: grid;
    grid-template-areas: "menu";
    align-items: center;
}

.menu-wrapper li:hover {
    background-color: #007DB8;
    color: #ffffff;
}

.search-icon {
    display: flex;
    flex: 1;
    align-self: center;
    justify-content: right;
    padding-right: 15px;
    font-size: 1.29em;
    cursor: pointer;
}
.flex-signin {
    display: inline-grid;
    grid-template-columns: 79px 100px 1fr;
    grid-template-areas: "button button space";
    grid-template-rows: 80px;
    align-content: center;
    align-items: center;
}
.signin-button {
    display: grid;
    grid-template-areas: "button";
    background-color: #ffffff;
    color: #6d6d71;
    font-size: 1.125em;
    font-weight: 600;
}
.signin-button:hover {
    color: #007DB8;
    cursor: pointer;
    text-decoration: underline;
}
.register-button {
    display: grid;
    grid-template-areas: "button";
    width: 80px;
    height: 33px;
    margin-left: -15px;
    padding-top: 5px;
    border-radius: 2px;
    border: solid 1px #6d6d71;
    background-color: #007DB8;
    color: #ffffff;
    font-size: 1.125em;
    font-weight: 600;
    text-align: center;
}
.register-button:hover {
    background-color: #065683;
    cursor: pointer;
}
.picture{
    background-color: #7fa0f3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "picture";
    z-index: 1;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
    justify-content: center;
    justify-self: center;
}
.picture div {
    width: 450px;
    margin-top: 20px;
    position: absolute;
    background-color: #F1F5FF;
    font-family: "Open Sans Semibold";
    font-size: 42px;
    color: #414141;
}
.search-bar{
    background-color: #DCEEF7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "search";
    height: 105px;
    color: #007DB8;
    font-size: 1.25em;
    font-weight: 400;
}
.school{
    border: 1px solid #FFFFF7;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "school";
}
.headline{
    border: 1px solid #FFFFF7;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "headline";
}
.courses{
    border: 1px solid #FFFFF7;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "courses";
}
.browse{
    border: 1px solid #FFFFF7;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "browse";
}
.footer{
    border: 1px solid #FFFFF7;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "footer";
}
