/*.fa-globe: ""*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
    color: #000000;
    font-family: Open Sans;
}
.grid-container {
    background-color: #f1f5ff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "picture"
        "search"
        "school"
        "subjects"
        "courses"
        "browse"
        "footer";
    justify-content: center;
}
.header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header";
    height: 81px;
    box-shadow: 0 3px 3px rgba(49, 48, 48, 0.4);
    color: #007db8;
    z-index: 2;
}
.flex-container {
    max-width: 100vw;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    flex-direction: row;
    flex: 3;
}
.flex-logo {
    display: flex;
    flex: 1;
    justify-content: end;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.flex-logo img {
    width: 77px;
    height: 38.9px;
}
.flex-menu {
    width: 1000px;
    display: flex;
    flex: auto;
    align-self: center;
    justify-content: space-between;
    /*font-size: 18px;*/
    /*color: #007db8;*/
    /*font-weight: 600;*/
}
.menu-wrapper {
    display: grid;
    grid-template-columns: 95px 195px 175px 170px 1fr;
    grid-template-rows: 80px;
    grid-template-areas: "menu menu menu menu space";
}
.menu-wrapper button {
    background-color: #ffffff;
    border: none;
    font-size: 18px;
    color: #007db8;
    font-weight: 600;
}
.menu-wrapper button:hover {
    background-color: #007db8;
    color: #fffff7;
    cursor: pointer;
}
.search-icon {
    display: flex;
    flex: 1;
    align-self: center;
    justify-content: right;
    padding-right: 15px;
    font-size: 1.29em;
    cursor: pointer;
}
.flex-signin {
    display: inline-grid;
    grid-template-columns: 79px 100px 1fr;
    grid-template-areas: "button button space";
    grid-template-rows: 80px;
    align-content: center;
    align-items: center;
}
.signin-button {
    display: grid;
    grid-template-areas: "button";
    background-color: #ffffff;
    color: #6d6d71;
    font-size: 1.125em;
    font-weight: 600;
}
.signin-button:hover {
    color: #007db8;
    cursor: pointer;
    text-decoration: underline;
}
.register-button {
    display: grid;
    grid-template-areas: "button";
    width: 80px;
    height: 33px;
    margin-left: -15px;
    padding-top: 5px;
    border-radius: 2px;
    border: solid 1px #6d6d71;
    background-color: #007db8;
    color: #ffffff;
    font-size: 1.125em;
    font-weight: 600;
    text-align: center;
}
.register-button:hover {
    background-color: #065683;
    cursor: pointer;
}
.picture{
    background-color: #7fa0f3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "picture";
    grid-template-rows: 310px;
    z-index: 1;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
    justify-content: center;
    justify-self: center;
}
.picture img{
    height: 310px;
    width: 1200px;
}
.picture div {
    width: 400px;
    margin-top: 30px;
    position: absolute;
    background-color: #F1F5FF;
    font-family: "Open Sans Semibold";
    font-size: 2.5em;
    font-weight: 600;
    color: #414141;
    line-height: 33pt;
}
.find-courses-button {
    position: absolute;
    top: 305px;
    width: 150px;
    height: 39px;
    padding-top: 6px;
    border-radius: 3px;
    border: solid 1px #6d6d71;
    background-color: #0577ad;
    color: #ffffff;
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.find-courses-button:hover {
    background-color: #045c86;
}
.search-bar{
    background-color: #dceef7;
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 110px;
    grid-template-areas: "search";
    justify-content: center;
}
.search-vertical-wrapper {
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 45px 53px;
    grid-template-areas:
            "what"
            "input";
}
.search-vertical-wrapper label {
    display: grid;
    grid-template-areas: "what";
    width: 1200px;
    padding-top: 10px;
    color: #007db8;
    font-size: 1.25em;
    font-weight: 400;
}
.search-vertical-wrapper div {
    display: grid;
    grid-template-areas: "input";
}
.search-horizontal-wrapper {
    display: grid;
    grid-template-columns: 695px 505px;
    height: 50px;
}
.search-horizontal-wrapper input {
    width: 729px;
    border:solid 1px rgba(134, 134, 134, 0.46);
    border-radius: 40px;
    padding-left: 20px;
    font-size: 1.51em;
    font-weight: 400;
    color: #686868;
}
.search-horizontal-wrapper button {
    margin-top: 1px;
    width: 55px;
    height: 47.5px;
    border: none;
    border-radius: 0px 40px 40px 0px;
    background-color: #ffffff;
    font-size: 1.125em;
    font-weight: 400;
    color: #686868;
    cursor: pointer;
}
.search-horizontal-wrapper button:hover {
    background-color: #007db8;
    color: #ffffff;
}
.school{
    display: grid;
    grid-template-columns: 1200px;
    grid-template-areas: "school";
    justify-content: center;
}
.all-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "column column column";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.column-wrapper {
    display: grid;
    grid-template-areas: "column";
}
.school all-column-wrapper {
    display: grid;
    height: 99.5px;
}
.university-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.popular-subjects {
    display: grid;
    grid-template-columns: 1200px;
    grid-template-areas: "subjects";
    height: 70px;
    justify-content: center;
    margin-top: 23px;
    color: #414141;
    font-size: 2em;
    font-weight: 600;
}
.courses{
    display: grid;
    grid-template-columns: 1200px;
    grid-template-areas: "courses";
    justify-content: center;
}
.courses all-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.subject {
}

.subject-lable {
    height: 50px;
    padding: 20px;
    background-color: #0577ad;
    border-radius: 5px 5px 0px 0px;
}
.subject-lable button {
    padding: 10px 14px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    color: #0577ad;
    font-size: 22px;
    font-weight: 400;
}
.subject-lable span {
    padding-left: 20px;
    color: #ffffff;
    font-size: 1.375em;
    font-weight: 700;
    text-transform:capitalize;
}
.subject-list {
    background-color: #eff3fc;
    border: 1px solid #cfcfd0;
    border-radius: 0px 0px 5px 5px;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 40px;
    text-transform:capitalize;
}

li {
    list-style-type: circle;
    list-style-position: inside;
}
li a {
    color: #045c86;
}
.browse{
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 100px;
    grid-template-areas: "browse";
    justify-content: center;
    justify-items: start;
    align-items: center;
}
.browse button {
    color: #045c86;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    border: 1px solid #045c86;
    border-radius: 4px;
    cursor: pointer;
}
hr {
    height: 1px;
    border-width:0;
    background-color: #dedcdc
}
.footer{
    display: grid;
    grid-template-columns: minmax(auto,1200px);
    grid-template-areas: "footer";
    justify-content: center;
    justify-items: start;
}
.footer img {
    margin-top: 20px;
}
@media only screen and (max-width: 1150px){
    .all-column-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "column column";
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}
@media only screen and (max-width: 900px){
    .all-column-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "column";
        grid-row-gap: 20px;
    }
}
