/* grid-container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 120px;
  column-gap: 20px;
  row-gap: 2em;
}
/* block nevbar */
.navbar {
  grid-column: 1 / 5;
  grid-row: 1 / 2 ;
  position: fixed;
  background-color: rgb(19, 47, 101);
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
}
.navbar div {
  display: inline-block;
  text-align: center;
  margin-top: 24px;
  margin-left: 20px;
}
.navbar div img {
  margin-left: 3vw;
  margin-right: 1vw;
  width: 350px;
}        
.navbar div a {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size:1vw;
  text-decoration: none;
}
/* block left */
.left-block {
  color: rgb(37, 57, 97);
  grid-column: 1 / 2;
  grid-row: 2 / 6;
}
/* block center */
.center-block {
  color: rgb(22, 85, 48);
  grid-column: 2 / 4;
  grid-row: 2 / 6;
}
/* block right */
.right-block {
  color: rgb(100, 28, 62);
  grid-column: 4 / 6;
  grid-row: 2 / 6;
}
/* media query */
@media only screen and (max-width:900px) {
  /* For mobile phones: */
  .grid-container {
      grid-template-columns: 1tr;
      grid-auto-rows: 50px;
  }
  /* block navbar */
  .navbar {
      height:50px;
      grid-column: 1 / 6;
      grid-row: 1 / 2;
  }
  /* block left */
  .left-block {
      width: 100%;
      grid-column: 1 / 6;
      grid-row: 2 / 9;
  }
  /* block center */
  .center-block {
      width: 100%;
      grid-column: 1 / 6;
      grid-row: 9 / 16;
  }
  /* block right */
  .right-block {
      width: 100%;
      grid-column: 1 / 6;
      grid-row: 16 / 23;
  }
  .navbar div img {
      width: 165px;
      margin-top: -15px;
  }
  .navbar div a {
      display: none;
  } 
}