/* grid-container */
.grid-container {
  margin: 0 auto;
  padding: 0 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "header header header header header"
                       "left   center center right  right"
                       "left   center center right  right"
                       "left   center center right  right"
                       "left   center center right  right";
  column-gap: 1em;
  row-gap: 1em;
  max-width: 1200px;
}
/* header */
.header {
  display: grid;
  position: fixed;
  background-color: rgb(19, 47, 101);
  color: rgb(19, 47, 101);
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 0;
} 
/* block nevbar */
.navbar {
  grid-area: header;
  background-color: rgb(19, 47, 101);
  height: 110px;
  z-index: 1;
}
.navbar div {
  justify-self: start;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
.navbar img {
  margin-top: 20px;
  margin-right: 40px;
  width: 322px;
}        
.navbar a {
  justify-self: start;
  display: inline-block;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  margin-right: 15px;
  margin-top: 10px;
}
/* block left */
.left-block {
  grid-area: left;
  color: rgb(37, 57, 97);
}
/* block center */
.center-block {
  grid-area: center;
  color: rgb(22, 85, 48);
}
/* block right */
.right-block {
  grid-area: right;
  color: rgb(100, 28, 62);
}
/* media query */
@media only screen and (max-width:900px) {
  /* For mobile phones: */
  .grid-container {
    margin: 0;
    padding: 0;
    grid-template-columns: 100%;
    /* grid-auto-rows: 50px; */
    grid-template-areas: "header"
                         "center"
                         "right"
                         "left"
                         "foot";
  }
  /* header */
  .header {
    height: 45px;
  }
  /* block navbar */
  .navbar {
    grid-area: header;
    height:35px;
    margin-top: -20px;
    margin-left: 15px;
  }
  /* block left */
  .left-block {
    grid-area: left;
    width: 100%;
  }
  /* block center */
  .center-block {
    grid-area: center;
    width: 100%;
  }
  /* block right */
  .right-block {
    grid-area: right;
    width: 100%;
  }
  .navbar img {
    width: 165px;
  }
  .navbar a {
    display: none;
  } 
}